<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<div>
    <app-awesome></app-awesome>
    <div style="text-align:center">
      <input name="search" style="height:35px;width:500px" #searchTerm>
      <button style="height:35px;width:100px" (click)="performSearch(searchTerm)">Search</button>
    </div>
    <div *ngFor="let gif of giphies">
      <img class="gifs" src="{{gif.images.original.url}}" >
    </div>
</div>

